body{
    background-color: rgb(185, 52, 78);
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}
h1{
    color:rgb(206, 133, 38); 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}